# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]

# OS
Thumbs.db
.DS_Store

# Build
.env
AppDir/
appimage-build/
tomi3_grub_counter.egg-info/
resources/tomi3-grub-counter.png

grub_count.txt
